# Averages per distance groups calculations

In [1]:
import pandas as pd

In [2]:
data_f1_olist = pd.read_csv('final_datasets/data_f1_olist.csv')
data_f1_olist.head()

,customer_id,customer_unique_id,zip_code_prefix_customer,customer_city,sc_state_customer,geolocation_lat_customer,geolocation_lng_customer,state_customer,region_customer,order_id,...,shipping_limit_date_hour,zip_code_prefix_seller,seller_city,sc_state_seller,geolocation_lat_seller,geolocation_lng_seller,state_seller,region_seller,dist_in_km,distance_group
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.498489,-47.396929,São Paulo,southeast,00e7ee1b050b8499577073aeb2a297a1,...,15:22:12,8577,itaquaquecetuba,SP,-23.486111,-46.366721,São Paulo,southeast,254.302,group_2
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.727992,-46.542848,São Paulo,southeast,29150127e6685892b6eab3eec79f59c7,...,20:58:32,88303,itajai,SC,-26.912574,-48.673980,Santa Catarina,south,336.323,group_3
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.531642,-46.656289,São Paulo,southeast,b2059ed67ce144a36e2aa97d2c9e9ad2,...,16:19:10,8577,itaquaquecetuba,SP,-23.486111,-46.366721,São Paulo,southeast,32.386,group_1
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.499702,-46.185233,São Paulo,southeast,951670f92359f4fe4a63112aa7306eba,...,16:31:16,8577,itaquaquecetuba,SP,-23.486111,-46.366721,São Paulo,southeast,20.208,group_1
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.975100,-47.142925,São Paulo,southeast,6b7d50bd145f6fc7f33cebabd7e49d0f,...,10:10:09,14940,ibitinga,SP,-21.757321,-48.829744,São Paulo,southeast,208.307,group_2

In [3]:
data_f1_olist.count()

customer_id                                           110180
customer_unique_id                                    110180
zip_code_prefix_customer                              110180
customer_city                                         110180
sc_state_customer                                     110180
geolocation_lat_customer                              109892
geolocation_lng_customer                              109892
state_customer                                        110180
region_customer                                       110180
order_id                                              110180
order_status                                          110180
order_purchase_timestamp                              110180
order_approved_at                                     110180
order_delivered_carrier_date                          110180
order_delivered_customer_date                         110180
order_estimated_delivery_date                         110180
delta_purchase_approved                               110180
delta_purchase_delivered_carrier                      110180
delta_purchase_delivered_customer                     110180
delta_delivered_customer_carrier                      110180
delta_delivered_customer_order_estimated_delivery_    110180
order_item_id                                         110180
product_id                                            110180
seller_id                                             110180
shipping_limit_date                                   110180
price                                                 110180
freight_value                                         110180
shipping_limit_date_only                              110180
shipping_limit_date_hour                              110180
zip_code_prefix_seller                                110180
seller_city                                           110180
sc_state_seller                                       110180
geolocation_lat_seller                                109931
geolocation_lng_seller                                109931
state_seller                                          110180
region_seller                                         110180
dist_in_km                                            109644
distance_group                                        109644
dtype: int64

In [4]:
data_f1_olist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110180 entries, 0 to 110179
Data columns (total 38 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   customer_id                                         110180 non-null  object
 1   customer_unique_id                                  110180 non-null  object
 2   zip_code_prefix_customer                            110180 non-null  int64
 3   customer_city                                       110180 non-null  object
 4   sc_state_customer                                   110180 non-null  object
 5   geolocation_lat_customer                            109892 non-null  float64
 6   geolocation_lng_customer                            109892 non-null  float64
 7   state_customer                                      110180 non-null  object
 8   region_customer                                     110180 non-null  object
 9   order_id                                            110180 non-null  object
 10  order_status                                        110180 non-null  object
 11  order_purchase_timestamp                            110180 non-null  object
 12  order_approved_at                                   110180 non-null  object
 13  order_delivered_carrier_date                        110180 non-null  object
 14  order_delivered_customer_date                       110180 non-null  object
 15  order_estimated_delivery_date                       110180 non-null  object
 16  delta_purchase_approved                             110180 non-null  float64
 17  delta_purchase_delivered_carrier                    110180 non-null  float64
 18  delta_purchase_delivered_customer                   110180 non-null  float64
 19  delta_delivered_customer_carrier                    110180 non-null  float64
 20  delta_delivered_customer_order_estimated_delivery_  110180 non-null  float64
 21  order_item_id                                       110180 non-null  int64
 22  product_id                                          110180 non-null  object
 23  seller_id                                           110180 non-null  object
 24  shipping_limit_date                                 110180 non-null  object
 25  price                                               110180 non-null  float64
 26  freight_value                                       110180 non-null  float64
 27  shipping_limit_date_only                            110180 non-null  object
 28  shipping_limit_date_hour                            110180 non-null  object
 29  zip_code_prefix_seller                              110180 non-null  int64
 30  seller_city                                         110180 non-null  object
 31  sc_state_seller                                     110180 non-null  object
 32  geolocation_lat_seller                              109931 non-null  float64
 33  geolocation_lng_seller                              109931 non-null  float64
 34  state_seller                                        110180 non-null  object
 35  region_seller                                       110180 non-null  object
 36  dist_in_km                                          109644 non-null  float64
 37  distance_group                                      109644 non-null  object
dtypes: float64(12), int64(3), object(23)
memory usage: 31.9+ MB

### Average order price per distance group

In [5]:
average_price_per_distance_group = round(pd.DataFrame(data_f1_olist.groupby('distance_group')['price'].mean()),2)
average_price_per_distance_group

                 price
distance_group
group_1         101.23
group_2         112.92
group_3         117.71
group_4         118.88
group_5         127.66
group_6         145.83
group_7         146.61
group_8         151.73
group_9         217.91

### Average freight value per distance group

In [6]:
average_freight_value_per_distance_group = round(pd.DataFrame(data_f1_olist.groupby('distance_group')['freight_value'].mean()),2)
average_freight_value_per_distance_group

                freight_value
distance_group
group_1                 11.97
group_2                 16.69
group_3                 20.01
group_4                 20.67
group_5                 22.94
group_6                 25.18
group_7                 30.09
group_8                 34.66
group_9                 42.94

### Average time between the purchase and the order approvement per distance group

In [7]:
average_delta_purchase_approved_per_distance_group = round(pd.DataFrame(data_f1_olist.groupby('distance_group')['delta_purchase_approved'].mean()),2)
average_delta_purchase_approved_per_distance_group

                delta_purchase_approved
distance_group
group_1                            9.56
group_2                            9.66
group_3                            9.96
group_4                           10.44
group_5                           10.91
group_6                           10.57
group_7                           11.04
group_8                           11.73
group_9                           11.22

### Average time between the purchase and the delivery to the carrier per distance group

In [8]:
average_delta_purchase_delivered_carrier_per_distance_group = round(pd.DataFrame(data_f1_olist.groupby('distance_group')['delta_purchase_delivered_carrier'].mean()),2)
average_delta_purchase_delivered_carrier_per_distance_group

                delta_purchase_delivered_carrier
distance_group
group_1                                    76.57
group_2                                    75.25
group_3                                    78.56
group_4                                    78.46
group_5                                    80.01
group_6                                    82.98
group_7                                    82.91
group_8                                    81.60
group_9                                    88.26

### Average product journey  per distance- Average time between the purchase and the delivery to the customer per distance group

In [9]:
average_delta_purchase_delivered_customer_per_distance_group = round(pd.DataFrame(data_f1_olist.groupby('distance_group')['delta_purchase_delivered_customer'].mean()),2)
average_delta_purchase_delivered_customer_per_distance_group

                delta_purchase_delivered_customer
distance_group
group_1                                    158.83
group_2                                    246.51
group_3                                    302.24
group_4                                    339.36
group_5                                    361.40
group_6                                    396.52
group_7                                    447.58
group_8                                    491.21
group_9                                    533.52

### Average time between the carrier and the delivery to the customer per distance group

In [10]:
average_delta_delivered_customer_carrier_per_distance_group = round(pd.DataFrame(data_f1_olist.groupby('distance_group')['delta_delivered_customer_carrier'].mean()),2)
average_delta_delivered_customer_carrier_per_distance_group

                delta_delivered_customer_carrier
distance_group
group_1                                    81.77
group_2                                   170.76
group_3                                   223.18
group_4                                   260.40
group_5                                   280.88
group_6                                   313.03
group_7                                   364.17
group_8                                   409.10
group_9                                   444.77

### Average time between delivery to the customer and the estimated delivery time per distance group

In [11]:
average_delta_delivered_customer_order_estimated_delivery_per_distance_group = round(pd.DataFrame(data_f1_olist.groupby('distance_group')['delta_delivered_customer_order_estimated_delivery_'].mean()),2)
average_delta_delivered_customer_order_estimated_delivery_per_distance_group

                delta_delivered_customer_order_estimated_delivery_
distance_group
group_1                                                    214.97
group_2                                                    268.57
group_3                                                    285.84
group_4                                                    291.62
group_5                                                    297.81
group_6                                                    300.31
group_7                                                    285.37
group_8                                                    284.68
group_9                                                    334.54